.wrongLetters {
    font-size: xx-large;
    text-decoration: line-through; /*make the line where wrong letters go crossed out*/
}
.word {
    font-size: xx-large; 
}
canvas {
    display: inline-block; /*make the canvas go next to the div*/
}
button {
    display: none; /*make the play again button invisible*/
}
.rightDiv {
    display: inline-block;/*make the div go next to the canvas*/
    text-align: center;
}
.mainDiv {
    border: 5px outset black; /*put a border around the canvas, input, wrongletters, and word to be guessed*/
    display: inline-block;
}
