.wrongLetters {
    font-size: xx-large;
    text-decoration: line-through; /*make the line where wrong letters go crossed out*/
}
.word {
    font-size: xx-large; 
}
canvas {
    border: 5px outset black; /*put a border around the canvas*/
}
button {
    display: none; /*make the play again button invisible*/
}
